@import url(https://fonts.googleapis.com/css?family=Oswald:300,400);

body{
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}

.form-signin {
    max-width: 450px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-signin-heading{
    margin-bottom: 10px;
    font-weight: 300;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}


.title{
    margin-top: 35px;
    text-transform: uppercase;
    line-height: 60px;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    color: #404040;
}