@import url(https://fonts.googleapis.com/css?family=Oswald:300,400);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);

body{
    /*font-family: 'Oswald', sans-serif;*/
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.form-signin {
    max-width: 450px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-signin-heading{
    margin-bottom: 10px;
    font-weight: 300;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}


.title{
    margin-top: 35px;
    text-transform: uppercase;
    line-height: 60px;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 35px;
    color: #404040;
}

.user-info{
    text-align: right;
    display: block;
    padding: 10px 0;
}

.dashboard-menu {
    border-right: 1px solid #cccccc;
    padding: 20px 20px 0 0;
}

.dashboard-menu ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.dashboard-menu ul li{
    margin: 0 0px 30px 0;
}
.dashboard-menu ul li a{
    width: 250px;
    text-align: left;
}
.margin-top-20{
    margin-top: 20px;
}
.red{
    color: #A00;
}
.green{
    color: #0A0;
}
.frm_ways_of_interaction .form-group{
    margin-bottom: 8px;
}
.blockUI{
    border: none;
    padding: 15px;
    background: #000000;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    opacity: .5;
    color: #fff;
}
.blockUI h1{
    font-size: 20px;
}

.hide-overlay {
    background: #FFFFFF;
    opacity: 0.3;
    width: 85%;
    height: 1300px;
    position: absolute;
    margin-top: 35px;
}
